@if (Model.Sender.UserName.Equals("system", StringComparison.OrdinalIgnoreCase))
{
    <!-- Message. Default to the left -->
    <div class="direct-chat-msg">
        <div class="direct-chat-info clearfix">
            <span class="direct-chat-name pull-left">@Model.Sender.UserName</span>
            <span class="direct-chat-timestamp pull-right">@Model.SendTime</span>
        </div>
        <!-- /.direct-chat-info -->
        <img class="direct-chat-img" src="images/default-avatars/379476_furby.svg" alt="Message User Image" style="width:30px!important;height:30px!important;"><!-- /.direct-chat-img -->
        <div class="direct-chat-text" style="font-size:10px!important;">
            @Model.Text
        </div>
        <!-- /.direct-chat-text -->
    </div>
    <!-- /.direct-chat-msg -->
}
else if (Model.Sender.UserName != DeviceInfo.Name)
{
    <!-- Message. Default to the left -->
    <div class="direct-chat-msg">
        <div class="direct-chat-info clearfix">
            <span class="direct-chat-name pull-left">@Model.Sender.UserName</span>
            <span class="direct-chat-timestamp pull-right">@Model.SendTime</span>
        </div>
        <!-- /.direct-chat-info -->
        <img class="direct-chat-img" src="images/default-avatars/@Model.Sender.Avatar" alt="Message User Image"><!-- /.direct-chat-img -->
        <div class="direct-chat-text">
            @Model.Text
        </div>
        <!-- /.direct-chat-text -->
    </div>
    <!-- /.direct-chat-msg -->
}
else
{
    <!-- Message to the right -->
    <div class="direct-chat-msg right">
        <div class="direct-chat-info clearfix">
            <span class="direct-chat-name pull-right">@Model.Sender.UserName</span>
            <span class="direct-chat-timestamp pull-left">@Model.SendTime</span>
        </div>
        <!-- /.direct-chat-info -->
        <img class="direct-chat-img" src="images/default-avatars/@Model.Sender.Avatar" alt="Message User Image"><!-- /.direct-chat-img -->
        <div class="direct-chat-text">
            @Model.Text
        </div>
        <!-- /.direct-chat-text -->
    </div>
    <!-- /.direct-chat-msg -->
}



@code {
    [Parameter]
    public Contracts.Message Model { get; set; }


}